{% extends 'CelticsArchive/base.html' %}

{% block content %}
    <div class="welcome-text">
        <p>Welcome to The Celtics Archive! Explore (and contribute to!) the rich history of the Boston Celtics.</p>
    </div>
    <div class="carousel-container">
        <button class="carousel-button prev">&#10094;</button>
        <div class="carousel-slide">
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1957<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1957 Champions</h2>
                    <p>Boston Celtics vs. St. Louis Hawks</p>
                    <p>Series: 4-3</p>
                    <br>
                    <h2>MVP: N/A</h2>
                    <p>Celtics Finals Leaders:</p>
                    <p>Heinsohn: 24.0 ppg</p>
                    <p>Russell: 22.9 rpg</p>
                    <p>Cousy: 9.1 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1959<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1959 Champions</h2>
                    <p>Boston Celtics vs. Minneapolis Lakers</p>
                    <p>Series: 4-0</p>
                    <br>
                    <h2>MVP: N/A</h2>
                    <p>Celtics Leaders:</p>
                    <p>Sharman: 20.3 ppg</p>
                    <p>Russell: 29.5 rpg</p>
                    <p>Cousy: 8.5 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1960<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1960 Champions</h2>
                    <p>Boston Celtics vs. St. Louis Hawks</p>
                    <p>Series: 4-3</p>
                    <br>
                    <h2>MVP: N/A</h2>
                    <p>Celtics Leaders:</p>
                    <p>Heinsohn: 22.3 ppg</p>
                    <p>Russell: 24.9 rpg</p>
                    <p>Cousy: 9.0 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1961<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1961 Champions</h2>
                    <p>Boston Celtics vs. St. Louis Hawks</p>
                    <p>Series: 4-1</p>
                    <br>
                    <h2>MVP: N/A</h2>
                    <p>Celtics Leaders:</p>
                    <p>Heinsohn: 22.3 ppg</p>
                    <p>Russell: 23.0 rpg</p>
                    <p>Cousy: 9.4 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1962<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1962 Champions</h2>
                    <p>Boston Celtics vs. Los Angeles Lakers</p>
                    <p>Series: 4-3</p>
                    <br>
                    <h2>MVP: N/A</h2>
                    <p>Celtics Leaders:</p>
                    <p>Sam Jones: 27.1 ppg</p>
                    <p>Russell: 27.0 rpg</p>
                    <p>Cousy: 9.5 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1963<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1963 Champions</h2>
                    <p>Boston Celtics vs. Los Angeles Lakers</p>
                    <p>Series: 4-2</p>
                    <br>
                    <h2>MVP: N/A</h2>
                    <p>Celtics Leaders:</p>
                    <p>Heinsohn: 22.5 ppg</p>
                    <p>Russell: 25.2 rpg</p>
                    <p>Cousy: 10.0 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1964<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1964 Champions</h2>
                    <p>Boston Celtics vs. San Francisco Warriors</p>
                    <p>Series: 4-1</p>
                    <br>
                    <h2>MVP: N/A</h2>
                    <p>Celtics Leaders:</p>
                    <p>Sam Jones: 21.2 ppg</p>
                    <p>Russell: 25.2 rpg</p>
                    <p>K.C. Jones: 4.6 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1965<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1965 Champions</h2>
                    <p>Boston Celtics vs. Los Angeles Lakers</p>
                    <p>Series: 4-1</p>
                    <br>
                    <h2>MVP: N/A</h2>
                    <p>Celtics Leaders:</p>
                    <p>Havlicek: 18.3 ppg</p>
                    <p>Russell: 24.5 rpg</p>
                    <p>K.C. Jones: 6.0 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1966<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1966 Champions</h2>
                    <p>Boston Celtics vs. Los Angeles Lakers</p>
                    <p>Series: 4-3</p>
                    <br>
                    <h2>MVP: N/A</h2>
                    <p>Celtics Leaders:</p>
                    <p>Havlicek: 23.6 ppg</p>
                    <p>Russell: 24.0 rpg</p>
                    <p>Russell: 6.7 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1968<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1968 Champions</h2>
                    <p>Boston Celtics vs. Los Angeles Lakers</p>
                    <p>Series: 4-2</p>
                    <br>
                    <h2>MVP: N/A</h2>
                    <p>Celtics Leaders:</p>
                    <p>Havlicek: 27.3 ppg</p>
                    <p>Russell: 21.7 rpg</p>
                    <p>Havlicek: 6.7 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1969<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1969 Champions</h2>
                    <p>Boston Celtics vs. Los Angeles Lakers</p>
                    <p>Series: 4-3</p>
                    <br>
                    <h2>MVP: Jerry West</h2>
                    <p>Celtics Leaders:</p>
                    <p>Havlicek: 28.3 ppg</p>
                    <p>Russell: 21.1 rpg</p>
                    <p>Russell: 5.4 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1974<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1974 Champions</h2>
                    <p>Boston Celtics vs. Milwaukee Bucks</p>
                    <p>Series: 4-3</p>
                    <br>
                    <h2>MVP: John Havlicek</h2>
                    <p>Celtics Leaders:</p>
                    <p>Havlicek: 26.4 ppg</p>
                    <p>Cowens: 13.6 rpg</p>
                    <p>Havlicek: 7.7 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1976<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1976 Champions</h2>
                    <p>Boston Celtics vs. Phoenix Suns</p>
                    <p>Series: 4-2</p>
                    <br>
                    <h2>MVP: Jo Jo White</h2>
                    <p>Celtics Leaders:</p>
                    <p>White: 21.7 ppg</p>
                    <p>Cowens: 16.4 rpg</p>
                    <p>White: 5.8 apg</p>
                </div>
            </div><div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1981<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1981 Champions</h2>
                    <p>Boston Celtics vs. Houston Rockets</p>
                    <p>Series: 4-2</p>
                    <br>
                    <h2>MVP: Cedric Maxwell</h2>
                    <p>Celtics Leaders:</p>
                    <p>Bird: 15.3 ppg</p>
                    <p>Bird: 15.3 rpg</p>
                    <p>Bird: 7.0 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1984<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1984 Champions</h2>
                    <p>Boston Celtics vs. Los Angeles Lakers</p>
                    <p>Series: 4-3</p>
                    <br>
                    <h2>MVP: Larry Bird</h2>
                    <p>Celtics Leaders:</p>
                    <p>Bird: 27.4 ppg</p>
                    <p>Bird: 14.0 rpg</p>
                    <p>D. Johnson: 5.9 apg</p>
                </div>
            </div><div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>1986<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>1986 Champions</h2>
                    <p>Boston Celtics vs. Houston Rockets</p>
                    <p>Series: 4-2</p>
                    <br>
                    <h2>MVP: Larry Bird</h2>
                    <p>Celtics Leaders:</p>
                    <p>Bird: 24.0 ppg</p>
                    <p>Bird: 9.7 rpg</p>
                    <p>Bird: 9.5 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>2008<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>2008 Champions</h2>
                    <p>Boston Celtics vs. Los Angeles Lakers</p>
                    <p>Series: 4-2</p>
                    <br>
                    <h2>MVP: Paul Pierce</h2>
                    <p>Celtics Leaders:</p>
                    <p>Pierce: 21.8 ppg</p>
                    <p>Garnett: 10.5 rpg</p>
                    <p>Rondo: 6.7 apg</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="front">
                    <h1>BOSTON<br>CELTICS</h1>
                    <h1>2024<br>WORLD<br>CHAMPIONS</h1>
                </div>
                <div class="back">
                    <h2>2024 Champions</h2>
                    <p>Boston Celtics vs. Dallas Mavericks</p>
                    <p>Series: 4-1</p>
                    <br>
                    <h2>MVP: Jaylen Brown</h2>
                    <p>Celtics Leaders:</p>
                    <p>Tatum: 22.2 ppg</p>
                    <p>Tatum: 7.8 rpg</p>
                    <p>Tatum: 7.2 apg</p>
                </div>
            </div>
        </div>
        <button class="carousel-button next">&#10095;</button>
    </div>
    <br>
    <br>
    <br>
{% endblock %}